# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
air_bnb = pd.read_csv(r"C:\Users\Zaur\OneDrive\Desktop\Disk\2023Nazrin\Bootcamp_coding temple\Python Advanced\Python advanced_task\PandasII_project\AB_NYC_2019 - AB_NYC_2019.csv")
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [10]:
# How many neighborhood groups are available and which shows up the most?

num_neighborhood_groups = air_bnb['neighbourhood_group'].nunique()

most_common_neighborhood_group = air_bnb['neighbourhood_group'].mode()[0]

print(f"Number of neighborhood groups: {num_neighborhood_groups}")
print(f"Most common neighborhood group: {most_common_neighborhood_group}")

Number of neighborhood groups: 5
Most common neighborhood group: Manhattan

In [11]:
# Are private rooms the most popular in manhattan?
manhattan_data = air_bnb[air_bnb['neighbourhood_group'] == 'Manhattan']
room_type_counts = manhattan_data['room_type'].value_counts()

print("Room type counts in Manhattan:")
print(room_type_counts)

most_common_room_type = room_type_counts.idxmax()
most_common_room_count = room_type_counts.max()

print(f"Most common room type in Manhattan: {most_common_room_type}")
print(f"Count of most common room type: {most_common_room_count}")

Room type counts in Manhattan:
Entire home/apt    13199
Private room        7982
Shared room          480
Name: room_type, dtype: int64
Most common room type in Manhattan: Entire home/apt
Count of most common room type: 13199

In [12]:
# Which hosts are the busiest and based on their reviews?

host_reviews = air_bnb.groupby('host_id')['number_of_reviews'].sum()
busiest_hosts = host_reviews.sort_values(ascending=False)

print("Busiest hosts based on the number of reviews:")
print(busiest_hosts.head())

top_host_ids = busiest_hosts.head().index
top_hosts_details = air_bnb[air_bnb['host_id'].isin(top_host_ids)][['host_id', 'host_name', 'number_of_reviews']].drop_duplicates()
print("\nDetails of the busiest hosts:")
print(top_hosts_details)

Busiest hosts based on the number of reviews:
host_id
37312959    2273
344035      2205
26432133    2017
35524316    1971
40176101    1818
Name: number_of_reviews, dtype: int64

Details of the busiest hosts:
        host_id                       host_name  number_of_reviews
7086   26432133                        Danielle                430
8853   35524316                    Yasu & Akiko                176
8854   35524316                    Yasu & Akiko                182
8861   35524316                    Yasu & Akiko                179
8871   35524316                    Yasu & Akiko                192
8872   35524316                    Yasu & Akiko                162
8873   35524316                    Yasu & Akiko                201
8874   35524316                    Yasu & Akiko                200
8876   35524316                    Yasu & Akiko                203
8877   35524316                    Yasu & Akiko                153
8878   35524316                    Yasu & Akiko                189
9323   37312959                            Maya                448
9689     344035  Brooklyn&   Breakfast    -Len-                258
9947   40176101                           Brady                237
10420    344035  Brooklyn&   Breakfast    -Len-                197
10501  40176101                           Brady                296
10502  40176101                           Brady                291
10503  40176101                           Brady                284
10506  40176101                           Brady                327
10540  35524316                    Yasu & Akiko                134
10544    344035  Brooklyn&   Breakfast    -Len-                222
10623  37312959                            Maya                543
10676    344035  Brooklyn&   Breakfast    -Len-                186
13612  37312959                            Maya                459
13829    344035  Brooklyn&   Breakfast    -Len-                204
13833    344035  Brooklyn&   Breakfast    -Len-                 64
13968    344035  Brooklyn&   Breakfast    -Len-                238
14230    344035  Brooklyn&   Breakfast    -Len-                245
14319    344035  Brooklyn&   Breakfast    -Len-                257
14422    344035  Brooklyn&   Breakfast    -Len-                 25
14699  37312959                            Maya                412
18045  37312959                            Maya                411
18184    344035  Brooklyn&   Breakfast    -Len-                102
18879    344035  Brooklyn&   Breakfast    -Len-                168
20403  26432133                        Danielle                510
21517  26432133                        Danielle                417
22068  26432133                        Danielle                224
22469  26432133                        Danielle                436
29357  40176101                           Brady                 92
37073    344035  Brooklyn&   Breakfast    -Len-                 39

In [13]:
#Which neighorhood group has the highest average price?
average_price_by_neighborhood = air_bnb.groupby('neighbourhood_group')['price'].mean()
highest_avg_price_group = average_price_by_neighborhood.idxmax()
highest_avg_price = average_price_by_neighborhood.max()


print(f"Neighborhood group with the highest average price: {highest_avg_price_group}")
print(f"Highest average price: ${highest_avg_price:.2f}")

Neighborhood group with the highest average price: Manhattan
Highest average price: $196.88

In [14]:
# Which neighbor hood group has the highest total price?
total_price_by_neighborhood = air_bnb.groupby('neighbourhood_group')['price'].sum()

highest_total_price_group = total_price_by_neighborhood.idxmax()
highest_total_price = total_price_by_neighborhood.max()

print(f"Neighborhood group with the highest total price: {highest_total_price_group}")
print(f"Highest total price: ${highest_total_price:.2f}")

Neighborhood group with the highest total price: Manhattan
Highest total price: $4264527.00

In [15]:
#Which top 5 hosts have the highest total price?
total_price_by_host = air_bnb.groupby('host_id')['price'].sum()
top_hosts_by_price = total_price_by_host.sort_values(ascending=False).head(5)
top_host_ids = top_hosts_by_price.index
top_hosts_details = air_bnb[air_bnb['host_id'].isin(top_host_ids)][['host_id', 'host_name', 'price']].drop_duplicates()
top_hosts_details = top_hosts_details.groupby('host_id').agg({'host_name': 'first', 'price': 'sum'}).reset_index()


print("Top 5 hosts with the highest total price:")
print(top_hosts_by_price)
print("\nDetails of the top 5 hosts:")
print(top_hosts_details)

Top 5 hosts with the highest total price:
host_id
219517861    82795
107434423    70331
156158778    37097
205031545    35294
30283594     33581
Name: price, dtype: int64

Details of the top 5 hosts:
     host_id     host_name  price
0   30283594          Kara  12595
1  107434423    Blueground  33784
2  156158778         Sally  37097
3  205031545    Red Awning   3781
4  219517861  Sonder (NYC)  35357

In [16]:
# Who currently has no (zero) availability with a review count of 100 or more?
filtered_hosts = air_bnb[(air_bnb['availability_365'] == 0) & (air_bnb['number_of_reviews'] >= 100)]
hosts_details = filtered_hosts[['host_id', 'host_name', 'number_of_reviews', 'availability_365']].drop_duplicates()

print("Hosts with zero availability and a review count of 100 or more:")
print(hosts_details)

Hosts with zero availability and a review count of 100 or more:
         host_id   host_name  number_of_reviews  availability_365
8           7490   MaryEllen                118                 0
94         79402  Christiana                168                 0
132       129352         Sol                193                 0
174       193722       Coral                114                 0
180        67778        Doug                206                 0
...          ...         ...                ...               ...
29581  127740507    Kathleen                103                 0
30461  176185168       Janet                119                 0
31250   21074914      Albert                102                 0
32670   40119874    Stephany                131                 0
35014  209549523     Mariluz                112                 0

[162 rows x 4 columns]

In [17]:
# What host has the highest total of prices and where are they located?

total_price_by_host = air_bnb.groupby('host_id')['price'].sum()
highest_total_price_host_id = total_price_by_host.idxmax()
highest_total_price = total_price_by_host.max()
host_details = air_bnb[air_bnb['host_id'] == highest_total_price_host_id][['host_id', 'host_name', 'neighbourhood_group', 'neighbourhood']].drop_duplicates()

print(f"Host with the highest total price:")
print(f"Host ID: {highest_total_price_host_id}")
print(f"Total Price: ${highest_total_price:.2f}")
print("Location details:")
print(host_details)

Host with the highest total price:
Host ID: 219517861
Total Price: $82795.00
Location details:
         host_id     host_name neighbourhood_group       neighbourhood
38293  219517861  Sonder (NYC)           Manhattan  Financial District
39769  219517861  Sonder (NYC)           Manhattan         Murray Hill
39772  219517861  Sonder (NYC)           Manhattan      Hell's Kitchen
42379  219517861  Sonder (NYC)           Manhattan             Midtown
42386  219517861  Sonder (NYC)           Manhattan    Theater District
42492  219517861  Sonder (NYC)           Manhattan             Chelsea
43558  219517861  Sonder (NYC)           Manhattan     Upper East Side

In [18]:
# When did Danielle from Queens last receive a review?
danielle_queens = air_bnb[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group'] == 'Queens')]
if not danielle_queens.empty:
    danielle_queens['last_review'] = pd.to_datetime(danielle_queens['last_review'], errors='coerce')
    most_recent_review = danielle_queens['last_review'].max()
    
    print(f"Danielle from Queens last received a review on: {most_recent_review}")
else:
    print("No entries found for Danielle from Queens.")

Danielle from Queens last received a review on: 2019-07-08 00:00:00

C:\Users\Zaur\AppData\Local\Temp\ipykernel_26772\236388615.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  danielle_queens['last_review'] = pd.to_datetime(danielle_queens['last_review'], errors='coerce')

## Further Questions

1. Which host has the most listings?

In [19]:
listings_count_by_host = air_bnb.groupby('host_id').size()
most_listings_host_id = listings_count_by_host.idxmax()
most_listings_count = listings_count_by_host.max()

host_details = air_bnb[air_bnb['host_id'] == most_listings_host_id][['host_id', 'host_name']].drop_duplicates()

print(f"Host with the most listings:")
print(f"Host ID: {most_listings_host_id}")
print(f"Number of Listings: {most_listings_count}")
print("Host details:")
print(host_details)

Host with the most listings:
Host ID: 219517861
Number of Listings: 327
Host details:
         host_id     host_name
38293  219517861  Sonder (NYC)

2. How many listings have completely open availability?

In [20]:
open_availability_count = air_bnb[air_bnb['availability_365'] == 365].shape[0]
print(f"Number of listings with completely open availability: {open_availability_count}")

Number of listings with completely open availability: 1295

3. What room_types have the highest review numbers?

In [21]:
average_reviews_by_room_type = air_bnb.groupby('room_type')['number_of_reviews'].mean()
sorted_room_types = average_reviews_by_room_type.sort_values(ascending=False)

print("Room types with the highest average number of reviews:")
print(sorted_room_types)

Room types with the highest average number of reviews:
room_type
Private room       24.112962
Entire home/apt    22.842418
Shared room        16.600000
Name: number_of_reviews, dtype: float64